.page-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.image-container {
  position: relative;
}

.image-container img {
  display: block;
  max-height: 100vh;
}

.card-front,
.card-back {
  position: absolute;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px hsl(0 100% 0% / 0.1);
}

.card-front {
  bottom: calc(50% + 1rem);
  left: 25%;
}

.card-back {
  top: calc(50% + 1rem);
  left: 40%;
}

.card-info {
  color: var(--white);
  text-transform: uppercase;
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto auto;
  align-content: flex-end;
  gap: 1rem;
  padding: 1.25rem 1.75rem;
}

.card-number {
  grid-column: span 2;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
}

.card-cvc {
  position: absolute;
  right: 14%;
  bottom: 46%;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 24rem;
}

.label {
  color: var(--very-dark-violet);
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.error-label {
  color: var(--red);
  font-size: 0.875rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 0;
}

.input {
  color: var(--very-dark-violet);
  font-family: inherit;
  font-size: inherit;
  min-width: 0;
  padding: 0.5rem;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 0.5rem;
  outline: none;
}

.input:focus-visible {
  border-color: var(--active-input-border-color);
}

.input[data-invalid='true'] {
  border-color: var(--red);
}

.input::placeholder {
  color: var(--light-grayish-violet);
}

.input-row {
  display: flex;
  gap: 0.75rem;
}

.input-group-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.button {
  background-color: var(--very-dark-violet);
  color: var(--white);
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 24rem;
}

.success-container button {
  align-self: stretch;
}

.success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.success-title {
  line-height: 1;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.success-description {
  color: var(--dark-grayish-violet);
  line-height: 1;
}
