.form {
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 24rem;
}

.label {
  color: var(--very-dark-violet);
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.error-label {
  color: var(--red);
  font-size: 0.875rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 0;
}

.input {
  color: var(--very-dark-violet);
  font-family: inherit;
  font-size: inherit;
  min-width: 0;
  padding: 0.5rem;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 0.5rem;
  outline: none;
}

.input:focus-visible {
  border-color: var(--active-input-border-color);
}

.input[data-invalid='true'] {
  border-color: var(--red);
}

.input::placeholder {
  color: var(--light-grayish-violet);
}

.input-row {
  display: flex;
  gap: 0.75rem;
}

.input-group-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.submit-button {
  background-color: var(--very-dark-violet);
  color: var(--white);
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
