.page-container {
  display: grid;
  min-height: 100vh;
}

.image-container {
  position: relative;
}

.mobile-background {
  display: block;
  width: 100%;
  height: 15rem;
}

.desktop-background {
  display: none;
}

.card-front,
.card-back {
  position: absolute;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px hsl(0 100% 0% / 0.1);
}

.card-front {
  z-index: 2;
}

.card-back {
  z-index: 1;
}

.card-front > img,
.card-back > img {
  display: block;
  width: 100%;
}

.card-info {
  color: var(--white);
  text-transform: uppercase;
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto auto;
  align-content: flex-end;
  gap: 1rem;
  padding: 1.25rem 1.75rem;
}

.card-number {
  grid-column: span 2;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
}

.card-cvc {
  position: absolute;
  right: 14%;
  bottom: 46%;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 24rem;
}

.label {
  color: var(--very-dark-violet);
  font-size: 0.875em;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.error-label {
  color: var(--red);
  font-size: 0.875rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 0;
}

.input {
  color: var(--very-dark-violet);
  font-family: inherit;
  font-size: inherit;
  min-width: 0;
  padding: 0.5rem;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 0.5rem;
  outline: none;
}

.input:focus-visible {
  border-color: var(--active-input-border-color);
}

.input[data-invalid='true'] {
  border-color: var(--red);
}

.input::placeholder {
  color: var(--light-grayish-violet);
}

.input-row {
  display: flex;
  gap: 0.75rem;
}

.input-group-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.button {
  background-color: var(--very-dark-violet);
  color: var(--white);
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 24rem;
}

.success-container button {
  align-self: stretch;
}

.success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.success-title {
  line-height: 1;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.success-description {
  color: var(--dark-grayish-violet);
  line-height: 1;
}

@media not all and (min-width: 700px) {
  .page-container {
    grid-template-rows: auto 1fr;
  }

  .card-front,
  .card-back {
    width: 20rem;
    font-size: 0.875rem;
  }

  .card-front {
    top: 50%;
    left: clamp(1rem, 2vw + 0.5rem, 2rem);
  }

  .card-back {
    top: 10%;
    right: clamp(1rem, 2vw + 0.5rem, 2rem);
  }

  .card-info img {
    width: 4rem;
  }

  .card-number {
    font-size: 1.25rem;
  }

  .form {
    font-size: 0.875rem;
    margin-top: 5rem;
    margin-inline: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 700px) {
  @media not all and (min-width: 1100px) {
    .page-container {
      grid-template-rows: auto 1fr;
    }

    .card-front {
      top: 10%;
      left: 10%;
    }

    .card-back {
      top: 5%;
      right: 10%;
    }

    .form {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 1100px) {
  .page-container {
    grid-template-columns: auto 1fr;
  }

  .mobile-background {
    display: none;
  }

  .desktop-background {
    display: block;
    height: 100%;
    max-height: 100vh;
  }

  .card-front,
  .card-back {
    font-size: clamp(0.75rem, 2vh, 1rem);
    width: 100%;
    min-width: 20rem;
  }

  .card-front {
    bottom: calc(50% + 1rem);
    left: clamp(10%, 4vw, 25%);
  }

  .card-back {
    top: calc(50% + 1rem);
    left: clamp(25%, 9vw, 40%);
  }

  .card-number {
    font-size: clamp(1.25rem, 3vh, 1.75rem);
  }
}
